@import "maps.less";

// ESCAPINGS
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";
@breakpointMobile: ~"(max-width: 767px)";

// MIXINS
.marginBottom8 {
    margin-bottom: 8px;
}
.fontSize14 {
    font-size: 14px;
}

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

li {
    list-style: none;
}

// CUSTOM STYLE
body {
    background-color: #colors[bgColor];
    color: #colors[txtDarkColor];
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointTablet {
        max-width: 80%;
    }

    @media @breakpointMobile {
        max-width: 95%;
    }
}

header {
    padding: 24px 0;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
        border: 2px solid #colors[btnColor];
    }

    .profile-bio {
        text-align: center;

        &-name {
            font-size: 16px;
            .marginBottom8();
        }

        &-subtitle {
            .fontSize14();
            .marginBottom8();
        }

        &-description {
            .fontSize14();
            opacity: .7;
        }
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;

    li {
        transition: all ease 500ms;

        &:hover {
            transform: scale(1.2);
            transition: all ease 500ms;
        }
    }
}

.projects-section-title {
    margin: 32px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #colors[txtDarkColor];
}

.projects-list {
    margin-top: 32px;

    &-item {
        a {
            display: block;
            padding: 16px;
            margin-bottom: 16px;
            text-decoration: none;
            background-color: #colors[btnColor];
            text-align: center;
            color: #colors[txtLightColor];
            font-weight: bold;
            border: 2px solid #colors[btnColor];
            border-radius: 30px;
            transition: all ease 500ms;

            &:hover {
                color: #colors[btnColor];
                background-color: transparent;
                transition: all ease 500ms;
            }
        }
    }
}